# Laravel 
/vendor/ 
/node_modules/ 
.env 
.env.backup 
.env.production 
.env.local 
.env.testing 
.phpunit.result.cache 
Homestead.json 
Homestead.yaml 
auth.json 
npm-debug.log 
yarn-error.log 
.DS_Store 
Thumbs.db 
storage/*.key 
storage/logs/*.log 
public/storage/ 
public/hot 
public/build/ 
.idea/ 
.vscode/ 
*.sqlite 
*.sqlite-journal 
/dist/ 
/build/ 
/.vite/ 
.vercel
.env*
